@font-face {
    font-family:'Open Sans';
    src:url(OpenSans-Regular-webfont.eot?);
    src:
		url(OpenSans-Regular-webfont.eot?) format('embedded-opentype'),
		url(OpenSans-Regular-webfont.woff?) format('woff'),
		url(OpenSans-Regular-webfont.ttf?) format('truetype'),
		url(OpenSans-Regular-webfont.svg#OpenSansRegular?) format('svg');
	font-weight:normal;font-style:normal;
}
body {
	width: 660px;
	margin: auto;
}
#main-content {
    display: inline;
    width: 640px;
    margin-right: 20px;
}

.section-contents {
    background: rgb(255,255,255);
    background: rgba(255,255,255,0.8);
    border: 1px solid #9abed9;
    border-radius: 2px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    box-shadow: 0 0 5px #e3f3fe inset, 0 -2px rgba(192,216,233,0.61) inset;
}

#firefox-notes #main-content h3 {
    margin: 30px 0 2px 0;
    padding: 20px 30px 15px 30px;
    color: #465875;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,0.61) 75%, rgba(236,241,249,0.61) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(75%,rgba(255,255,255,0.61)), color-stop(100%,rgba(236,241,249,0.61))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.61) 75%,rgba(236,241,249,0.61) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0.61) 75%,rgba(236,241,249,0.61) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0.61) 75%,rgba(236,241,249,0.61) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(255,255,255,0.61) 75%,rgba(236,241,249,0.61) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ecf1f9',GradientType=0 ); /* IE6-9 */
    border: 1px solid #9abed9;
    box-shadow: 0 0 5px #e3f3fe inset, 0 -2px rgba(192,216,233,0.61) inset;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-size: 20px;
    text-shadow: 0 1px #fff;
    font-weight: 600;
    border-radius: 6px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.section-contents ul {
    margin: 0;
    padding: 20px 30px;
}

.section-contents ul li {
    margin: 0;
    padding: 10px 20px 10px 150px;
    min-height: 25px;
    position: relative;
    list-style-type: none;
    zoom: 1;
    border-bottom: 1px dotted #9f9f9f;
}

.section-contents ul li:last-child {
    border-bottom: 0;
}

.section-contents ul h5 {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    text-shadow: 0 1px 2px #fff;
}

.section-contents ul p {
    color: #666;
    margin: 0 0 5px 0;
}

#firefox-notes .tag {
    display: inline-block;
    padding: 0 15px 0 20px;
    text-transform: uppercase;
    text-align: right;
    position: absolute;
    top: 12px;
    left: 0;
    background: #999;
    background-image: url(tags.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
    width: 85px;
    min-width: 85px;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    font-style: normal;
    color: #383838;
    text-shadow: 1px 1px 0 #fff;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 -1px 0 rgba(0,0,0,0.2) inset;
    line-height: 22px;
}

#firefox-notes .tag-new {
    background-color: #ffedcf;
}

#firefox-notes .tag-changed {
    background-color: #e9cfff;
    background-position: -150px 50%;
}

#firefox-notes .tag-fixed {
    background-color: #f0ffe1;
    background-position: -300px 50%;
}

#firefox-notes .tag-html5 {
    background-color: #f8dfd8;
    background-position: -450px 50%;
}

#firefox-notes .tag-resolved {
    background-color: #dcf6ff;
    background-position: -600px 50%;
}

#firefox-notes .tag-unresolved {
    background-color: #ffc8c8;
    background-position: -750px 50%;
}

#firefox-notes .tag-developer {
    background-color: #e7e7e7;
    background-position: -900px 50%;
}

#firefox-notes .status {
    background: #e9f2ff;
    padding: 1px 6px;
    color: #383838;
    border-radius: 3px;
    font-family: "Open Sans",sans-serif;
    font-size: 11px;
    font-style: normal;
}

#firefox-notes .status .status-unresolved,
#firefox-notes .status .status-resolved {
    padding: 2px 2px 2px 16px;
    display: inline-block;
    zoom: 1;
    margin-right: 1em;
    background: url(status_icons.png) 0 4px no-repeat;
}

#firefox-notes .status .status-resolved {
    background-position: 0 -46px;
}
.pombo {
	font-variant: small-caps;
}
.center {
	text-align: center;
}
footer {
	margin-top: 30px;
	padding-top: 10px;
	border-top: 1px dotted gray;
	text-align: center;
	font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-size: 12px;
    text-shadow: 0 1px #fff;
}
footer a {
	color: rgb(0, 0, 128);
	text-decoration: none;
}
footer a:hover {
	text-decoration: underline;
}
